html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

/*Fonts____________*/

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: normal;
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
         url('../fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-bold - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-bolditalic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
         url('../fonts/montserrat-v14-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-bold - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
         url('../fonts/roboto-slab-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* crete-round-regular - latin */
  @font-face {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    src: local('Crete Round'), local('CreteRound-Regular'),
         url('../fonts/crete-round-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/crete-round-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* crete-round-italic - latin */
  @font-face {
    font-family: 'Crete Round';
    font-style: italic;
    font-weight: 400;
    src: local('Crete Round Italic'), local('CreteRound-Italic'),
         url('../fonts/crete-round-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/crete-round-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mr-dafoe-regular - latin */
  @font-face {
    font-family: 'Mr Dafoe';
    font-style: normal;
    font-weight: 400;
    src: local('Mr Dafoe Regular'), local('MrDafoe-Regular'),
         url('../fonts/mr-dafoe-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mr-dafoe-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/*Header_______*/
header {
    padding-bottom: 87px;
}

header nav {
    display: flex;
    min-height: 115px;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    font-family: 'Mr Dafoe';
    font-size: 26px;
    line-height: 41px;
}

.top-menu {
    display: flex;
    min-width: 485px;
    justify-content: space-between;
}

.menu-item a {
    display: block;
    font-size: 14px;
    line-height: 41px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 300ms linear;
}

.site-logo,
.menu-item a:hover, 
.menu-item a:focus {
    color: #fed136;
}

.menu-item a,
section h2,
.services h3 {
    color: #222;
}

/*Services section__________*/

section {
    text-align: center;
}

.services-section {
    padding-bottom: 117px;
}

section h2 {
    margin: 0 0 5px;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
}

section h2 + p {
    margin: 0 0 78px;
    font-family: 'Crete Round';
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
}

section h2 + p, 
.services li p {
    color: #777;
}

.services {
    display: flex;
    justify-content: space-between;
}

.services li {
    flex-basis: 290px;
}

.services li::before {
    display: block;
    content: "";
    margin: 0 auto 18px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 3px solid #fed136;
    background-repeat: no-repeat;
    background-position: center;
}

.services .commerce::before {
    background-image: url(../img/icons/basket.svg);
}

.services .responsive::before {
    background-image: url(../img/icons/laptop.svg);
}

.services .security::before {
    background-image: url(../img/icons/lock.svg);
}

.services h3, 
.services p {
    margin: 0;
}

.services h3 {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.services li p {
    font-family: 'Roboto Slab';
    font-size: 14px;
    line-height: 26px;
}

/*Form section____________*/
.form-section {
    padding-top: 93px;
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 120px;
}

.form-section h2 {
    color: #fff;
}

.form-wrap {
    padding-bottom: 115px;
}

.fields {
    display: flex;
    height: 270px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form__element {
    width: 455px;
    height: 50px;
    box-shadow: 0 0 1px #777;
}

.form__element--big {
    height: 210px;
    align-self: flex-end;
}

.form__element--small {
    height: 65px;
    width: 240px;
    box-shadow: 0;
    margin: 0 auto;
}

.control {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.control--message {
    padding-top: 17px;
    resize: none;
}

.control--button {
    padding: 0;
    font-size: 18px;
    color: #fff;
    background-color: #fed136;
    transition: background-color 200ms linear;
    cursor: pointer;
}

.control--button:hover, 
.control--button:focus {
    background-color: #c3d08b;
}

.control::placeholder {
    font-size: 14px;
    color: #bbb;
    font-weight: bold;
}

.control:required:valid {
    outline: 2px solid #47c547b7;
}

.control:required:invalid {
    outline: 1px solid #f32222bb;
}