.banner-wrap {
  height: 1000px;
  margin: 0 auto 54px;
  text-align: center;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../../images/banner/background-image_desktop.jpg);
  background-image: -o-linear-gradient(left, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../../images/banner/background-image_desktop.jpg);
  background-image: linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../../images/banner/background-image_desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
