.site-navigation {
  @extend %list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 490px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-navigation__item {
  @extend %item;
}

.site-navigation__link {
  @extend %link;
  position: relative;
  @include font-settings (14px, 17px);
  text-transform: uppercase;
  -webkit-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;

  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}

.site-navigation__link--small {
  width: 20px;
  height: 20px;

  &:hover .site-navigation__icon,
  &:focus .site-navigation__icon {
    fill: $hover-text-color;
  }
}

.site-navigation__icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: $main-text-color;
  -webkit-transition: fill 300ms linear;
  -o-transition: fill 300ms linear;
  transition: fill 300ms linear;
}

.site-navigation__link--big {
  &::after {
    @include pseudo (block, '');
    position: absolute;
    margin: 10px auto 0;
    width: 100%;
    height: 3px;
    background-color: $hover-text-color;
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}
