html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Black", "Times New Roman", serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

a{
    text-decoration: none;
}

/*header_______*/

header {
    padding-bottom: 95px;
}

nav {
    padding: 36px 0 0;
}

.site-logo{
    float: left;
    display: block;
    font-family: "Roboto Light";
    font-size: 30px;
    line-height: 32px;
    color: #555252;
}

.site-logo,
.menu-item a,
h2 {
    text-transform: uppercase;
}

.site-logo::first-letter {
    font-family: "Roboto Black";
}

.top-menu {
    min-width: 432px;
    margin-top: 10px;
    float: right;
}

.menu-item {
    float: left;
}

.menu-item:not(:last-child) {
    margin-right: 22px;
}

.menu-item a {
    display: block;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
}

.site-logo::first-letter,
.menu-item a:hover,
.menu-item a:focus {
    color: #1abc9c;
}

/*Gallery_________*/

main {
    background-color: #e9f0fd;
}

section {
    text-align: center;
    padding-bottom: 98px;
}

h2 {
    margin: 0 auto 76px;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
}

h2::after {
    display: block;
    content: "";
    margin: 27px auto 0;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;

}

.product-cart {
    width: 255px;
    height: 322px;
    float: left;
}

.product-cart:not(:nth-child(4n + 4)) {
    margin-right: 30px;
}

.product-cart:nth-child(-n + 4) {
    margin-bottom: 30px;
}

.product-cart a {
    display: block;
}

.product-cart p {
    margin: 0;
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 0 0 12px;
}

.product-cart p:first-child {
    float: left;
    width: 201px;
    background-color: #323232;
}

.product-cart p:last-child {
    float: right;
    width: 54px;
    background-color: #8c8c8c;
}

.product-cart p:last-child::before {
    content: "$";
}

.product-cart:hover p:first-child {
    background-color: #1abc9c;
}

.product-cart:hover p:last-child {
    background-color: #7fd9c7;
}

/*Footer_________*/
footer {
    height: 88px;
    background-color: #323232;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    text-align: center;
}

.copyright {
    padding-top: 33px;
}


address {
    display: inline;
    font-style: normal;
    color: #46bfa9;
}