html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    /* width: 1600px; */
    font-family: "Roboto Black", "Times New Roman", serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

a{
    text-decoration: none;
}

/*header_______*/

header {
    padding-bottom: 34px;
}

nav {
    padding: 36px 0 0;
}

.site-logo{
    float: left;
    display: block;
    font-family: "Roboto Light";
    font-size: 30px;
    line-height: 32px;
    color: #555252;
}

.site-logo,
.menu-item a,
h2 {
    text-transform: uppercase;
}

.site-logo::first-letter {
    font-family: "Roboto Black";
}

.top-menu {
    min-width: 432px;
    margin-top: 10px;
    float: right;
}

.menu-item {
    float: left;
}

.menu-item:not(:last-child) {
    margin-right: 22px;
}

.menu-item a {
    display: block;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
}

.site-logo::first-letter,
.menu-item a:hover,
.menu-item a:focus {
    color: #1abc9c;
}

/*Slider__________*/
.slider {
    width: 1600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.slider-ctrl {
    width: 105px;
    height: 105px;
    position: absolute;
    border: 0px;
    padding: 0;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.slider .prev {
    left: 245px;
    background-image: url(../img/slider/angle-left.svg);
}

.slider .next {
    right: 245px;
    background-image: url(../img/slider/angle-right.svg)
}

.slider .prev,
.slider .next {
    background-size: cover;
}

.slides li {
    position: relative;
}

.slides .black-fon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
}

.slides h3,
.slides p {
    position: absolute;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

.slides h3 {
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    font-family: 'Roboto Black';
    font-size: 60px;
    line-height: 82px;
}

.slides p {
    top: 285px;
    left: 420px;
    font-family: 'Roboto Light';
    font-size: 24px;
    line-height: 54px;
}

.slides li img {
    width: 100%;
    object-fit: cover;
}
/*Colection_________*/
section {
    padding: 95px 0 98px;
    background-color: #e9f0fd;
    text-align: center;
}

h2 {
    margin: 0 auto 76px;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
}

h2::after {
    display: block;
    content: "";
    margin: 27px auto 0;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;

}

.product-cart {
    width: 255px;
    height: 322px;
    float: left;
}

.product-cart:not(:nth-child(4n + 4)) {
    margin-right: 30px;
}

.product-cart a {
    display: block;
}

/*Hover under image________*/

.img-active {
    position: relative;
}

.fon-area {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0f0101;
    border: 10px solid #fff
}

.fon-area, 
.icon-area {
    opacity: 0;
}

.product-cart:hover .fon-area {
    opacity: 0.55;
}

.product-cart:hover .icon-area {
    opacity: 1;
}

.icon-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 166px;
    height: 107px;
    margin: 0 auto;
}

.icon-area button {
    display: block;
    position: absolute;
    height: 50px;
    padding: 0;
    border: 0;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-area .icon {
    width: 50px;
    background-color: transparent;
    background-position: center;
}

.icon-area .icon,
.icon-area .cart {
    background-size: 37px;
    background-repeat: no-repeat;
}

.icon-area .like {
    background-image: url(../img/icon/like.svg);
}

.icon-area .shuffle {
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/icon/shuffle.svg);
}

.icon-area .clock {
    right: 0;
    background-image: url(../img/icon/clock.svg);
}

.icon-area .icon:hover {
    border: 0;
    background-color: #1abc9c;
}

.icon-area .cart {
    bottom: 0;
    width: 166px;
    padding-left: 35px;
    background-color: #323232;
    color: #fff;
    background-image: url(../img/icon/cart.svg);
    background-position: 5% 50%;
    font-family: 'Open Sans Regular';
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
}

.icon-area .cart span {
    font-family: 'Open Sans Regular';
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
}

/*Price and Name product*/

.product-cart p {
    margin: 0;
    height: 40px;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 0 0 12px;
}

.product-cart p:first-child {
    float: left;
    width: 201px;
    background-color: #323232;
}

.product-cart p:last-child {
    float: right;
    width: 54px;
    background-color: #8c8c8c;
}

.product-cart p:last-child::before {
    content: "$";
}

.product-cart:hover p:first-child {
    background-color: #1abc9c;
}

.product-cart:hover p:last-child {
    background-color: #7fd9c7;
}

/*Footer_________*/
footer {
    height: 88px;
    background-color: #323232;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    text-align: center;
}

.copyright {
    padding-top: 33px;
}

address {
    display: inline;
    font-style: normal;
    color: #46bfa9;
}