html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: "Roboto Black", "Times New Roman", serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(138, 43, 226, 0.3);
}

.modal {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
}

p {
    margin: 0;
}
