.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 226px;
  height: 55px;
}

.social-icons__link {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $hover-text-color;
  -webkit-transition: opacity, background-color 200ms linear;
  -o-transition: opacity, background-color 200ms linear;
  transition: opacity, background-color 200ms linear;
  opacity: 0;

  &:hover,
  &:focus {
    background-color: $main-decor-color;
  }

  &:hover .social-icons__icon,
  &:focus .social-icons__icon {
    fill: $main-text-color;
  }
}

.worker__box:hover .social-icons__link,
.worker__link:focus + .social-icons__link,
.social-icons__link:focus {
  opacity: 1;
}

.social-icons__icon {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 26px;
  fill: $main-decor-color;
}
