html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair display", "Times New Roman", serif;
    font-size: 0;
    line-height: 16.8px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*Menu__________*/
.top__menu {
    text-align: center;
    vertical-align: middle;
    padding: 72px 0 68px 0;
}

.top__menu li {
    display: inline-block;
}

.top__menu li:not(:last-child) {
    margin-right: 100px;
}

.top__menu li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.top__menu li a:hover, 
.top__menu li a:focus {
    color: #03a9f4;
}

.top__menu li a,
h2,
article p:last-child,
button {
    color: #626262;
}


/*Main content__________*/
section {
    text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

article {
    display: inline-block;
    width: 421px;
    text-align: justify;
    margin-bottom: 135px;
}

section article:nth-child(n + 5) {
    margin-bottom: 0px;
}

section article:nth-child(even) {
    margin-right: 61px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.article-img {
    margin-bottom: 31px;
}

/* article p:first-child { Не применяеться стиль, не могу разобраться
    margin-bottom: 33px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16.8px;
    color: #b4ad9e;
    font-family: "Ubuntu light";
} */

.tittle {/*Временная альтернатива*/
    margin-bottom: 33px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16.8px;
    color: #b4ad9e;
    font-family: "Ubuntu light";
}

h2 {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
}

article p:last-child {
    font-size: 14px;
    line-height: 24px;
}

/*Button________*/

button {
    display: block;
    margin: 50px auto 70px;
    height: 60px;
    width: 164px;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    background-color: transparent;
    font-size: 20px;
}