%list {
  margin: 0;
  padding: 0;
}

%item {
  list-style: none;
}

%link {
  display: block;
  text-decoration: none;
}

%prg {
  margin: 0;
}

%btn {
  border: 0;
  padding: 0;
  background-color: transparent;
}
