/*Fonst var______________*/
$main-font-stack: "Montserrat Regular", "Times New Roman", sans-serif;
$section-tittle-font: "Kaushan Script";
$serv-list-font: "Roboto";
$footer-form-font: "Roboto Light Italic";

/* Color stack__________*/
$main-text-color: #fff;
$hover-text-color: #fce38a;
$main-decor-color: #f38181;
$banner-color: rgba(0, 0, 0, .301);
$serv-list-color: #999;
$worker-name-color: #000;
$section-shadow-color: #e7e7e7;
$serv-icon-color: #b3e9df;
$portfolio-decor-color: #95e1d3;
$form-plch-color: #ccc;
$form-btn-shadow-color: rgba(0, 0, 0, 0.5);
