html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

/*Fonts_________*/
/* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* kaushan-script-regular - latin */
  @font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
}

.link {
    display: block;
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

.container {
    width: 320px;
    margin: 0 auto;
}

.button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

/*Header_______*/
.banner-wrap {
    height: 540px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-image: linear-gradient( 90deg, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), 
    url(../img/banner/background-image_mobile_320.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.page-nav {
    position: relative;
}

.site-logo {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 56px;
    line-height: 67px;
}

@media (max-width: 959px) {
    .site-navigation__item {
        display: none;
    }
    .menu-burger {
        display: block;
    }
}

.mobille-menu {
    position: absolute;
    width: 100%;
    background-color: #000000;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.mobille-menu .site-navigation__item {
    display: block;

}

.site-logo, 
.site-navigation__link,
.menu-burger, 
.banner-info__main, 
.banner-info__templ, 
.button__banner {
    color: #fff;
}

.site-navigation__link {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

.site-navigation__link--small {
    margin: 0 auto;
    width: 26px;
    height: 26px;
}

.site-navigation__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
}

.menu-burger {
    padding: 10px 0;
    font-size: 36px;
}

.banner-info__templ {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 29px;
}

.banner-info__main {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

@media (max-width: 767px) {
.site-navigation__item--cart-pg {
    padding: 10px 0;
}
}

@media (min-width: 960px) {
    .menu-burger {
        display: none;
    }
}

