html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat Regular", "Times New Roman", sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

/*Header_________*/
header {
    padding-bottom: 88px;
}

header nav {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.site-logo,
.menu-item a{
    display: block;
    text-decoration: none;
    color: #95e1d3;
}

.site-logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.top-menu {
    display: flex;
    min-width: 490px;
    justify-content: space-between;
}

/* .menu-item {
    position: relative;
} */

.menu-item a{
    position: relative;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    transition: color 200ms linear;
}

.menu-item a:hover,
.menu-item a:focus {
    color: #f38181;
}

.menu-item a::after,
.menu-item a::after {
    display: block;
    position: absolute;
    content: "";
    margin: 10px auto 0;
    width: 100%;
    height: 3px;
    background-color: #f38181;
    opacity: 0;
    transition: opacity 200ms linear;
}

.menu-item a:hover::after,
.menu-item a:focus::after {
    opacity: 1;
}

/*Services section section__________*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section-p,
section h2 {
    margin: 0;
}

.first-section-p {
    margin-bottom: 20px;
    font-family: "Kaushan Script Regular";
    font-size: 24px;
    line-height: 28px;
}

section h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 65px;
}

section h2::after {
    display: block;
    content: "";
    margin: 40px auto 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.services {
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services li {
    flex: 0 0 380px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.services li:nth-child(-n+3) {
    margin-bottom: 100px;
}

.services li:nth-child(1) {
    background-image: url(../img/icons/clock.png);
}

.services li:nth-child(2) {
    background-image: url(../img/icons/line.png);
}

.services li:nth-child(3) {
    background-image: url(../img/icons/computer.png);
}

.services li:nth-child(4) {
    background-image: url(../img/icons/book.png);
}

.services li:nth-child(5) {
    background-image: url(../img/icons/home.png);
}

.services li:nth-child(6) {
    background-image: url(../img/icons/digital.png);
}

.services li h3,
.services li p {
    margin: 0;
    padding-left: 85px;
}

.services li h3 {
    padding-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
}

.services p, 
.info {
    font-family: "Roboto Regular";
    font-size: 15px;
    line-height: 24px;
    color: #999;
}

/*Team section______*/
section:last-child {
    padding-bottom: 82px;
    box-shadow: 0 1px 0 0 #e7e7e7;
}

section:last-child h2 {
    margin-bottom: 45px;
}

.info {
    margin: 0 0 90px 0;
    width: 960px;
    text-align: center;
}

.portfolio {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.portfolio .cart {
    flex: 0 0 380px;
    background-image: linear-gradient(#95e1d3 470px, #fff 81px);

}

.portfolio .img-link img {
    transition: opacity 200ms linear;
}

.portfolio .image-box:hover .img-link img {
    opacity: 0.25;
}

.image-box {
    position: relative;
    transition: transform 200ms linear;
}

.image-box:hover {
    transform: translate(-10px, -10px);
}

.portfolio .cart a {
    display: block;
    text-decoration: none;
}

.portfolio .cart .img-link {
    margin-bottom: 29px;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    min-width: 226px;
    height: 55px;
}

.social-icon {
    width: 55px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fce38a;
    opacity: 0;
    transition: opacity, background-color 200ms linear;
}

.social-icon a {
    width: 100%;
    height: 100%;
}

.social-icon:nth-child(1){
    background-image: url(../img/social-icons/facebook.png);
}

.social-icon:nth-child(2){
    background-image: url(../img/social-icons/twitter.png);
}

.social-icon:nth-child(3){
    background-image: url(../img/social-icons/pinterest.png);
}

.social-icon:nth-child(4){
    background-image: url(../img/social-icons/instagram.png);
}

.image-box:hover .social-icon {
    opacity: 1;
}

.social-icon:hover, 
.social-icon:focus {
    background-color: #95e1d3;
}

.portfolio li figure {
    margin: 0;
}

figcaption .name,
figcaption .profession {
    margin: 0;
    text-align: center;
}

figcaption .name {
    margin-bottom: 10px;
}

figcaption .profession a,
figcaption .name a {
    transition: color 200ms linear;
}

figcaption .name a {
    display: inline;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

figcaption .profession a {
    display: inline;
    font-family: "Roboto Light Italic";
    font-size: 15px;
    line-height: 24px;
    color: #999;
}

figcaption .profession a:hover,
figcaption .name a:hover,
figcaption .profession a:focus
figcaption .name a:focus {
    color: #95e1d3;
}

/*Footer__________*/
footer {
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: space-between;
}

footer .copyright {
    font-size: 14px;
    line-height: 17px;
}

footer address {
    display: inline;
    font-style: normal;
    color: #f38181;
}

footer form {
    display: inline-flex;
}

footer input[type="email"],
footer button[type="submit"] {
    padding: 0;
    border: 0;
}

footer input[type="email"] {
    width: 230px;
    height: 40px;
    box-shadow: 0 0 0 1px #e7e7e7;
}

footer button[type="submit"] {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    box-shadow: 0 0 0 1px #95e1d3;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}