html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat Regular", "Times New Roman", sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

/*Header_________*/
header nav {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.site-logo,
.menu-item a{
    display: block;
    text-decoration: none;
    color: #95e1d3;
}

.site-logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.top-menu {
    display: flex;
    min-width: 490px;
    justify-content: space-between;
}

.menu-item {
    position: relative;
}

.menu-item a{
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.menu-item a:hover,
.menu-item a:focus {
    color: #f38181;
}

.menu-item a:hover::after,
.menu-item a:focus::after {
    display: block;
    content: "";
    margin: 10px auto 0;
    width: 100%;
    height: 3px;
    background-color: #f38181;
}